In [1]:
import json
from Code.MasterConnector import MasterConnector

In [2]:
# Parameters
DB_SECRETS_FILE_PATH = 'DbSecrets/DbCredentials.json'
DB_JAR_FILES_PATH = 'JarFiles/'
DB_CERTIFICATES_PATH = 'DbCertificates/'
JKS_FILE_PATH = DB_CERTIFICATES_PATH+'ibm-truststore.jks'

In [3]:
# reading secrets json file 
f = open(DB_SECRETS_FILE_PATH, 'r')
secrets = json.load(f)
secrets.keys()

dict_keys(['gcognos', 'ESW', 'esdm_new', 'esdm_old', 'cp4dProjectsApi', 'infocenter', 'dsw_appid', 'slackApi'])

# Example using jks file

In [5]:
DbConnector = MasterConnector(dbDictionary=secrets['dsw_appid'], 
                                jarFilesPath=DB_JAR_FILES_PATH, 
                                jksPath=JKS_FILE_PATH)

In [6]:
data = DbConnector.sql_to_df(sql='select * from SODS2.BILLING limit 5')

Connection to DSS established: dstrateg

/Users/sergioestrada/Library/CloudStorage/Box-Box/MY_DOCS/GITHUB/sergioeval/DatabaseConnectivity/Code/MasterConnector.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)

SQL Run Time:  0:00:00.472419
Connection closed

In [7]:
data.head()

,SAP_BILLG_DOC_NUM,BILLG_DATE,SAP_ACCTG_STAT_CODE,SAP_BILLG_DOC_TYPE_CODE,SAP_BILLG_CAT_CODE,SAP_SALES_DOC_CAT_CODE,SHIP_TO_CUST_NUM,PAYER_CUST_NUM,CURRNCY_CODE,EXCHG_RATE_PLAN,...,CRM_RGN_CODE,CRM_GEOGPHY_CODE,WALLET_ID,TRAN_GOVT_ENTITY_IND_CODE,SRC_APPL,SHIP_TO_CUST_NUM_RDC,PAYER_CUST_NUM_RDC,SAP_SALES_ORG_CODE_S4H,SAP_CO_CODE_S4H,SBSCRPTN_BILLG
0,0007229946,2020-08-05,C,Z1,L,M,0004123722,0007963760,INR,1.00000,...,None,None,None,None,ECC,None,None,None,None,None
1,0145509794,2020-08-05,C,ZBSM,A,O,0003374343,0003374343,USD,0.01452,...,None,None,None,None,ECC,None,None,None,None,None
2,0145509793,2020-08-05,C,ZBSM,A,O,0003374343,0003374343,USD,0.01398,...,None,None,None,None,ECC,None,None,None,None,None
3,0007607447,2020-08-05,C,Z5,A,O,0004123722,0007963760,INR,1.00000,...,None,None,None,None,ECC,None,None,None,None,None
4,0126106632,2020-08-05,C,ZCSM,A,O,0003355842,0007733682,DKK,15.77598,...,None,None,None,None,ECC,None,None,None,None,None

# Example without cert and without jks (Ibm db2 on cloud)

In [5]:
db_2 = MasterConnector(dbDictionary=secrets['esdm_new'], jarFilesPath=DB_JAR_FILES_PATH)

In [6]:
data = db_2.sql_to_df(sql='select * from ESDM.V_MI_SOE_SR_FINAL limit 5')

Connection to BLUDB established: sergio

/Users/sergioestrada/Library/CloudStorage/Box-Box/MY_DOCS/GITHUB/sergioeval/DatabaseConnectivity/Code/MasterConnector.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)

SQL Run Time:  0:00:00.868001
Connection closed

In [7]:
data

,OPPNAME,OPPOWNER,SR,RQNBR,REQUESTOWNER_MASKED,VALID,CUSTNAME,CCODE,CT_DAYS,DAYS_OVERDUE,...,BILLING_AMOUNT,BILLING_TYPE,CFTS_OR_IERP_CONTRACT_NUMBER,CFTS_WORK_NUMBERS_OR_IERP_WBS_NUMBERS,SQUAD_ORG,STANDARD_PAYMENT_TERMS,CUSTOM_INVOICE_NUMBER,SYSTEM_INVOICE_NUMBERS,BILLING_DATE,BILLING_FREQUENCY
0,N/A,mnagyova@sk.ibm.com,2101258055256-6,GTSGB2101258055256-6,mnagyova@sk.ibm.com,N,BOOTS UK LTD IT FINANCE,GB,4.00,None,...,-14957.83,None,,None,No Squad,None,,,None,None
1,N/A,N/A,2101258055309-1,ANADE2101258055309-1,matej.karel@ibm.com,N,0063035433-Schaeffler Technologies,DE,0.86,None,...,NaN,None,None,None,Q2C Europe/Mea,None,None,None,None,None
2,N/A,ecortesa@cr.ibm.com,2101258055433-1,GTSCL2101258055433-1,gressoni@br.ibm.com,N,CLARO CHILE S.A.,CL,0.33,None,...,0.00,None,CHAACRJ,None,No Squad,None,None,None,None,None
3,N/A,bruna.magno@ibm.com,2101258055469-1,COMUS2101258055469-1,bruna.magno@ibm.com,N,Massive stop,U4,0.01,None,...,NaN,None,None,None,No Squad,None,None,None,None,None
4,N/A,ahollanda@ibm.com,2101258055515-1,SHWMX2101258055515-1,ahollanda@ibm.com,N,LENOVO PC HK LIMITED,MX,0.30,None,...,NaN,None,None,None,Q2C Americas,None,None,None,None,None

# Example for a MySql db