# docker my sql db
docker run --name mysqlDb -e MYSQL_ROOT_PASSWORD=alfabeta -e MYSQL_DATABASE=mysql -e MYSQL_USER=user -e MYSQL_PASSWORD=alfabeta -d mysql:latest -p 3306:3306

In [1]:
import json
from Code.MasterConnector import MasterConnector

In [2]:
# Parameters
DB_SECRETS_FILE_PATH = 'DbSecrets/DbCredentials.json'
DB_JAR_FILES_PATH = 'JarFiles/'
DB_CERTIFICATES_PATH = 'DbCertificates/'
JKS_FILE_PATH = DB_CERTIFICATES_PATH+'ibm-truststore.jks'

In [3]:
# reading secrets json file 
f = open(DB_SECRETS_FILE_PATH, 'r')
secrets = json.load(f)
secrets.keys()

dict_keys(['gcognos', 'ESW', 'esdm_new', 'mysql', 'cp4dProjectsApi', 'infocenter', 'dsw_appid', 'slackApi'])

# Example using jks file

In [4]:
DbConnector = MasterConnector(dbDictionary=secrets['dsw_appid'], 
                                jarFilesPath=DB_JAR_FILES_PATH, 
                                jksPath=JKS_FILE_PATH)

In [5]:
data = DbConnector.sql_to_df(sql='select * from SODS2.BILLING limit 5')

Connection to DSS established: dstrateg

/Users/sergioestrada/Library/CloudStorage/Box-Box/MY_DOCS/GITHUB/sergioeval/DatabaseConnectivity/Code/MasterConnector.py:114: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)

SQL Run Time:  0:00:00.351138
Connection closed

In [6]:
data.head()

,SAP_BILLG_DOC_NUM,BILLG_DATE,SAP_ACCTG_STAT_CODE,SAP_BILLG_DOC_TYPE_CODE,SAP_BILLG_CAT_CODE,SAP_SALES_DOC_CAT_CODE,SHIP_TO_CUST_NUM,PAYER_CUST_NUM,CURRNCY_CODE,EXCHG_RATE_PLAN,...,CRM_RGN_CODE,CRM_GEOGPHY_CODE,WALLET_ID,TRAN_GOVT_ENTITY_IND_CODE,SRC_APPL,SHIP_TO_CUST_NUM_RDC,PAYER_CUST_NUM_RDC,SAP_SALES_ORG_CODE_S4H,SAP_CO_CODE_S4H,SBSCRPTN_BILLG
0,0007229946,2020-08-05,C,Z1,L,M,0004123722,0007963760,INR,1.00000,...,None,None,None,None,ECC,None,None,None,None,None
1,0145509794,2020-08-05,C,ZBSM,A,O,0003374343,0003374343,USD,0.01452,...,None,None,None,None,ECC,None,None,None,None,None
2,0145509793,2020-08-05,C,ZBSM,A,O,0003374343,0003374343,USD,0.01398,...,None,None,None,None,ECC,None,None,None,None,None
3,0007607447,2020-08-05,C,Z5,A,O,0004123722,0007963760,INR,1.00000,...,None,None,None,None,ECC,None,None,None,None,None
4,0126106632,2020-08-05,C,ZCSM,A,O,0003355842,0007733682,DKK,15.77598,...,None,None,None,None,ECC,None,None,None,None,None

# Example without cert and without jks (Ibm db2 on cloud)

In [7]:
db_2 = MasterConnector(dbDictionary=secrets['esdm_new'], jarFilesPath=DB_JAR_FILES_PATH)

In [8]:
data = db_2.sql_to_df(sql='select * from ESDM.V_MI_SOE_SR_FINAL limit 5')

Connection to BLUDB established: sergio

/Users/sergioestrada/Library/CloudStorage/Box-Box/MY_DOCS/GITHUB/sergioeval/DatabaseConnectivity/Code/MasterConnector.py:114: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)

SQL Run Time:  0:00:00.524026
Connection closed

In [9]:
data

,OPPNAME,OPPOWNER,SR,RQNBR,REQUESTOWNER_MASKED,VALID,CUSTNAME,CCODE,CT_DAYS,DAYS_OVERDUE,...,BILLING_AMOUNT,BILLING_TYPE,CFTS_OR_IERP_CONTRACT_NUMBER,CFTS_WORK_NUMBERS_OR_IERP_WBS_NUMBERS,SQUAD_ORG,STANDARD_PAYMENT_TERMS,CUSTOM_INVOICE_NUMBER,SYSTEM_INVOICE_NUMBERS,BILLING_DATE,BILLING_FREQUENCY
0,N/A,zuzana.florekova@sk.ibm.com,1810043143409-1,GTSES1810043143409-1,filipa.monteiro.ramos@ibm.com,N,"CEMEX ESPA#A, S.A TOMÁS ZOPEQUE",ES,7.73,None,...,None,None,None,None,No Squad,None,None,None,None,None
1,Supporto BPM,giacinto_lopiccolo@it.ibm.com,1810043143538-1,CLDIT1810043143538-1,XXXXXXXXX,na,GROUPAMA ASSICURAZIONI SPA,IT,2.00,None,...,None,None,None,None,Q2C Europe/Mea,None,None,None,None,None
2,BP INGRAM [ContractEnd 6 Equipos USD 34020][Me...,eaorduzg@co.ibm.com,1810043143573-3,GTSCO1810043143573-3,thiago.de.andrade@ibm.com,Y,CLINICA MEDELLIN S A,CO,0.00,None,...,None,None,None,None,Q2C Americas,None,None,None,None,None
3,N/A,rui.carvalho@ie.ibm.com,1810043143580-1,GTSPT1810043143580-1,tiago.almeida@ibm.com,N,SIBS-FORWARD PAYMENT SOLUTIONS,PT,9.86,None,...,None,None,None,None,No Squad,None,None,None,None,None
4,SOC reporting improvement,jf.mairlot@be.ibm.com,1810043143617-1,SECLU1810043143617-1,guillaume.tkint@ie.ibm.com,Y,RBC INVESTOR SERVICES,LU,22.87,None,...,None,None,None,None,No Squad,None,None,None,None,None

# Example for a MySql db

## To create the mysql database
### docker-compose down
### docker-compose up -d

In [10]:
#!pip install mysql-connector-python

In [11]:
secrets['mysql']

{'uid': 'user',
 'pwd': 'password',
 'host': '127.0.0.1',
 'port': '3306',
 'db': 'mysql',
 'd_source': 'mysql',
 'ssl': 'False',
 'using_cert_file': 'False',
 'using_jks_file': 'False',
 'jks_password': ''}

In [14]:
mysql_db = MasterConnector(dbDictionary=secrets['mysql'])

In [15]:
mysql_db._connectDb()